[user]
    name = Mathieu Plantey
    email = mathieu.plantey@shadow.tech
[core]
    editor = vim

[alias]
    lg = log --decorate --oneline
    lga = log --all --decorate --graph --oneline
    cm = commit -m
    st = status
    ca = commit --amend --no-edit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
